<h1>Create a song:</h1>
<form action="/songs" method="post">
  <input type="text" name="name" placeholder="Name:" id="song_name">
  <input type="text" name="artist" placeholder="Artist:" id="song_artist">
  <input type="text" name="genre" placeholder="Genre:" id="song_genre">
  <input type="submit" value="Submit">
</form>
